a.out
inventory.ini
.env
.vscode
/Linux/install_meshcentral.yaml
/Win/Activate.ps1
/src/setup.cpp
/src/Backup.cpp
OS-Ready
OS-Ready.exe
.DS_Store
/Ansible
CMakeLists.txt
/build
/build-windows
cleanbuild.sh